body {
    background-color: #8A5991;
    font-family: Tahoma, Geneva, sans-serif, Times;
}





/* Group Decisions on Formatting

Font Family:  Tahoma, Geneva, sans-serif

Color palette:
#637C99 blue
11:16
#8A5991
11:17
#7A6051
11:17
#807C4E
11:17
#33754E

Main Color Uses:
indoor: olive
outdoor: green
online: purple
homescreen:  blue
nav bar:  brownish 7A6051

*/